# Ignore virtual environment
venv/

# Ignore Scrapy build output
.scrapy/

# Ignore Python build output
__pycache__/
*.pyc 
*.pyo 
*.pyd 

# Ignore VSCode settings
.vscode/

# Ignore system files
.DS_Store

# Ignore the 'file' folder where the scraping results are stored
files/
files_transform/
build/
dbs/
eggs/
project.egg-info/
scrapydweb_settings_v10.py
setup.py
files.zip
logs/


# Ignore any local configuration files
*.local.py

# Ignore any other temporary or output files
*.log
*.tmp